In [95]:
""" Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
"""
"""# string
a="my"
print(a)
# list
b=["i","am","programer"]
print(b)

# float
c=5.435
print(c)

# tuple
d=("i","love","pw","skill")
print(d)"""



""" Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable."""

"""var1 = ''
String
var2 = "[ DS , ML , Python]"
String
var3 = [ 'DS' , 'ML' , 'Python']
List
var4 = 1
int
"""
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **  '''


#  / operator example it is used of find divsion
'''a=15/3
print(a)

#  % operator example it is used for find modulus
b=8%2
print(b)

#  // operator example it is used for find floor value of division
c=9//5
print(c)

#  ** operator example it is used for find exponantial value
c=2**5
print(c)'''


'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type. '''

'''f=[15,"pw",1.43, "true" ,5+2j,[1,5,7],("data","25", "Dec"),"skill",25,38]

for x in f:
  print(x,"is data type",type(x))
  if x == 38:
    break;'''


    ### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

# A=555
# B=111

# if B == 0:
#   print("b is not valid number")
# else:
#   count=0
#   while A%B == 0:
#     A //=B
#     count=count+1
#   print(count)


# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.
# l = list (range(1,26))
# count=0
# for num in l:
#   if num %3 ==0:
#       print(num)
#   else:
#       print (num, "is not divisible by 3")


#  Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.     ?
# mutability is in which data type we can cahnge,replace or manuplate data otherwise in immutable data is which data type  we can not change replace or manuplate data.

# list is data type of mutable data type
# while String is immutable data type

1 is not divisible by 3
2 is not divisible by 3
3
4 is not divisible by 3
5 is not divisible by 3
6
7 is not divisible by 3
8 is not divisible by 3
9
10 is not divisible by 3
11 is not divisible by 3
12
13 is not divisible by 3
14 is not divisible by 3
15
16 is not divisible by 3
17 is not divisible by 3
18
19 is not divisible by 3
20 is not divisible by 3
21
22 is not divisible by 3
23 is not divisible by 3
24
25 is not divisible by 3